@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(222, 227, 230);
}

#topo {
    box-sizing: border-box;
    background-color: #0467be;
    height: 60px;
    padding: 20px;
}

#topo > a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

#maincontent {
    box-sizing: border-box;
    width: 900px;
    background-color: rgb(214, 214, 214);
    margin: auto;
    padding: 50px;
}

.post {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
    width: 800;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.137);
}

.userarea {
    display: flex;
    align-items: center;
    gap: 7px;
}

.postphoto {
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}
.username {
    display: inline-block;
    font-size: 15px;
}

.postcontent {
    margin: 10px;
}